/* #site {
    overflow-y: hidden;
} */

.hero {
   display: flex;
   flex-direction: column;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #FFFFFF;
    align-items: center;
}


.header, .top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 20px 0px 20px 100px;

}

.header header {
    font-size: xx-large;
    font-weight: 900;
    padding: 16px;
}

.header-links a {
    text-decoration: none;
    color: #95979b;
    padding: 10px;
}

.header-links {
    display: flex;
    gap: 16px;
    padding-right: 16px;
}

.top-content-left button {
    background-color: #3882f6;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    color: white;
}

.top-content {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.top-content-left {
    width: 400px;
    padding-right: 50px;
}

.box {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    border: solid #3882f6;
    border-width: 5x;
    background-color: #ffffff;
}

.random-information {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.random-information header {
    color: black;
    font-size: xx-large;
    font-weight: 900;
    padding: 20px;

}

.information-boxes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.quote-box {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style:italic;
    padding: 0 0%;
}

.quote {
flex-basis: auto;
}

.quote .author {
    display: flex;
    flex-direction: row-reverse;
    font-weight: 900;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    margin: 50px 0px;


}

.action header {
    font-weight: bolder;
    
}

.action button {
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    text-decoration: none;
    border: solid 2px;
    border-radius: 8px;
    border-color: white;
    background-color: #3882f6;
}